
/* usiandike color yoyote hivi => color:red; tumia hizi color nimeweka na ukitaka kuchange unachange kwa root
then ukitaka kuweka color unafanya color:var(--background); hivo👈 ndio tukae uniform */
:root{
	--background:#1C1427;
	--background2:#40394A;
	--primary:#16FF00;
	--font:verdana;
	--white:#FFF;
}

*{
	padding: 0px;
	margin: 0px;
	background: var(--background); /*hivi ndio nilikuwa nasema*/
}

.container{
	width: 100%;
	height: 100vh;
	font-family: var(--font);
}

.navigation{
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.navigation h3{
	font-family: var(--font);
	font-weight: 800;
	color: var(--white);
}

#links a{
	color: var(--background2);
	text-decoration: none;
	margin: 1rem;
}

#links a:hover{
	color: var(--primary);
}